[Desktop Entry]
Comment=JELVIS
Exec=bash /home/kia/JELVIS/runJ.sh
Icon=/home/kia/JELVIS/jelvis.png
MimeType=x-scheme-handler/tg;
Name=JELVIS
StartupWMClass=JELVIS
Terminal=true
Type=Application
Version=1.0
